.jumbotron{
    color: white;
    background-color: rgb(54, 116, 54);
}

.btn-nuevo{
    color: green;
    background-color: rgb(183, 221, 148);
}

.card-plantas{
    margin: 10px; 
    flex: 1 150px;
}

footer{
    padding: 10px 10px 0 10px;
    background-color:rgb(54, 116, 54);
    margin-bottom:0px;
    margin-top: 50px;
    color: white  ;
    inset-block: none;
}